{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load customfilters %}
{% block content %}
    <div class="content px-3">
        <div class="user-details-container d-flex align-items-center justify-content-center my-4">
            <div class="user-details">
                <div class="profile mb-4">
                    <p class="user-select-none">{{ user.username.0 }}</p>
                </div>
                <p class="mb-1">{{ user.username }}</p>
                <p class="mb-1">{{ user.email }}</p>
                <div class="d-flex align-items-center">
                    <span class="d-flex flex-column align-items-center me-4">
                        <p class="mb-1">posts</p>
                        <p>{{ posts|count }}</p>
                    </span>
                    <span class="d-flex flex-column align-items-center">
                        <p class="mb-1">reviews</p>
                        <p>20</p>
                    </span>
                </div>
                <a href="{% url 'create-post' %}" class="btn btn-primary">new site</a>
            </div>
        </div>
        <hr>
        <div class="posts">
            {% if posts %}
                {% for post in posts %} 
                    <div class="card">
                        <div class="card-img">
                            <img src="{{ post.preview_image.url }}" alt="{{ post.title }}" width="200px" height="300px">
                        </div>
                        <div class="card-content py-2 px-3">
                            <p class="font-weight-bold mb-2"><a href="{% url 'full-post' post_id=post.pk %}" class="card-title">{{ post.title }}</a></p>
                            <a href="{{ post.link }}" target="_blank" class="d-block mb-2">{{ post.link }}</a>
                            <div class="ratings mb-0">
                                <p>5.0</p>
                            </div>
                            <p>posted by: {{ user.username }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h4 class="fs-4 text-center text-muted">You have not put any site up for review</h4>
            {% endif %}
        </div>
    </div>
{% endblock %}